/* Portfolio */
body{
    padding: 0px;
    margin: 0px;
}


{

}
/* Navigation Menu */
.navbar{
    display: flex;
   justify-content: space-around;
    align-items: center;
    color: navy;

    width: 100vw;
    height: 10vh;

    position: fixed;
    left: 0px;
    top: 0px;
}


.links{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: navy;
}

span{
    font-size: 20px;
    font-weight:700;
}

.image{
    width: 380px;
    height: 380px;
    border: 1px solid black;
    background-image: url("../Image/Portugal.png");
    background-size: cover;
    border-radius: 50%;

    /* position set */
    position: fixed;
    left: 5vw;
    top: 10vh;
}

h1{
    color: navy;
}

/* content */
.content{
    width: 60%;
    /* content position */
    position: relative;
    left: 20vw;
    top: 20vh;
}