/* Portfolio  Mobile View*/
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}





/* Navigation Menu */
.navbar{
    display: flex;
   justify-content: space-around;
    align-items: center;
    color: navy;

    width: 100vw;
    height: 10vh;

    position: fixed;
    left: 0px;
    top: 0px;
}


.links{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: navy;
}

span{
    font-size: 20px;
    font-weight:700;
}

.image{
    width: 380px;
    height: 380px;
    border: 1px solid black;
    background-image: url("../Image/Roman.png");
    background-size: cover;
    border-radius: 50%;

    /* position set */
    position: fixed;
    left: 5vw;
    top: 10vh;
}

h1{
    color: navy;
}

/* content */
.content{
    width: 60%;
    /* content position */
    position: relative;
    left: 20vw;
    top: 20vh;
}

.content{
    width:90%;
    left: 0;
    top: 0;
}

@media (max-width: 600px) {
    .navbar{
        z-index: 1;
        background-color: whitesmoke;
    }
    span{
        font-size: 16px;

    }
    .links{
        font-size: 12px;
        gap: 10px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        top: 12vh;
    }

    .image{
        position: relative;
        width: 200px;
        height: 200px;
        left: 0;
        top: 0;
    }


    section{
        margin: 10px 0px;

    }

    p{
        text-align: justify;
    }

    h3{
        text-align: center;
    }
}





/*tablet view*/

@media (min-width: 601px) and (max-width: 1024px) {

    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 90%;
        margin: auto;
        top: 15vh;
    }

    .image{
        position: relative;
        width: 280px;
        height: 280px;
        left: 0;
        top: 0;
    }

    .content{
        width: 50%;
        position: relative;
        left: 0;
        top: 0;
    }

    .links{
        gap: 25px;
    }
}