/* Position CSS */
.container{
    border:1px solid black;
    width: 500px;
}

#static{
    position:static;
    top: 400px;
}
#relative{
    position:relative;
    top:10px;
    left:10px;
}

.parent{
    width:60pw;
    height:40vh;
    border:1px solid black;
}


#absolute{
    position:absolute;
    top:10px;


}
#fixed{
    position:fixed;
    top:0px;
    left:0px;
}
#sticky{
    position:sticky;
    top:500px;
    

}